<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin - Lista de Productos</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <header>
    <h1>Admin - Lista de Productos</h1>
    <nav>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/admin">Administrar Productos</a></li>
        <li><a href="/logout">Cerrar Sesión</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <ul>
      {{#each products}}
        <li>
          <span>{{this.name}}</span>
          <span>{{this.description}}</span>
          <span>${{this.price}}</span>
          <button onclick="location.href='/admin/product/{{this._id}}/edit'">Editar</button>
          <form action="/admin/product/{{this._id}}?_method=DELETE" method="POST">
            <button type="submit">Eliminar</button>
          </form>
        </li>
      {{/each}}
    </ul>
    <h2>Agregar Producto</h2>
    <form action="/admin/product" method="POST">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" required>
        <label for="description">Descripción:</label>
        <input type="text" id="description" name="description" required>
        <label for="price">Precio:</label>
        <input type="number" id="price" name="price" required>
        <button type="submit">Agregar</button>
    </form>
  </main>
  <footer>
    <p>&copy; EcommerceMati</p>
  </footer>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/socketScript.js"></script>
</body>

</html>