<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrito de Compras</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <header>
    <h1>Carrito de Compras</h1>
    <nav>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/cart">Carrito</a></li>
        {{#if user}}
          {{#if (eq user.role 'admin')}}
            <li><a href="/admin">Administrar Productos</a></li>
          {{/if}}
          <li><a href="/logout">Cerrar Sesión</a></li>
        {{else}}
          <li><a href="/login">Iniciar Sesión</a></li>
        {{/if}}
      </ul>
    </nav>
  </header>
  <main>
    <ul>
      {{#each cart.products}}
        <li>
          <span>{{this.productId.name}}</span>
          <span>{{this.productId.description}}</span>
          <span>{{this.quantity}}</span>
          <span>${{this.productId.price}}</span>
          <form action="/api/carts/remove" method="POST">
            <input type="hidden" name="productId" value="{{this.productId._id}}">
            <button type="submit">Eliminar</button>
          </form>
        </li>
      {{/each}}
    </ul>
  </main>
  <footer>
    <p>&copy; EcommerceMati</p>
  </footer>
</body>

</html>