<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrito de Compras</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/cart.js" defer></script>
</head>
<body>
  <header>
    <h1>Carrito de Compras</h1>
    <nav>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/cart">Carrito</a></li>
        {{#if user}}
          {{#if (eq user.role 'admin')}}
            <li><a href="/admin">Administrar Productos</a></li>
          {{/if}}
          {{#if (eq user.role 'premium')}}
            <li><a href="/premium">Productos Premium</a></li>
          {{/if}}
          <li><a href="/logout">Cerrar Sesión</a></li>
        {{else}}
          <li><a href="/login">Iniciar Sesión</a></li>
        {{/if}}
      </ul>
    </nav>
  </header>
  <main>
    {{#if cart.products.length}}
    <ul>
      {{#each cart.products}}
        <li>
          <span>{{this.productId.name}}</span>
          <span>{{this.productId.description}}</span>
          <span>{{this.quantity}}</span>
          <span>${{this.productId.price}}</span>
          <span>Total: ${{multiply this.productId.price this.quantity}}</span>
          {{#if this.productId.premiumOnly}}
            <span>(Producto Premium)</span>
          {{/if}}
          <form class="deleteForm" action="/cart/{{this.productId._id}}" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit">Eliminar</button>
          </form>
        </li>
      {{/each}}
    </ul>
    <h3>Total de productos: {{totalQuantity}}</h3>
    <h3>Total de la compra: ${{totalPrice}}</h3>
    <form action="/api/carts/purchase/{{cart._id}}" method="POST">
      <button type="submit">Finalizar Compra</button>
    </form>
    {{else}}
      <p>El carrito está vacío.</p>
    {{/if}}
  </main>
  <footer>
    <p>&copy; EcommerceMati</p>
  </footer>
</body>
</html>